:root {
   --primary-color: #212121;
   --secondary-color: #757575;
   --white-color: #ffffff;
   --accent-color: #2196f3;
   --secondary-font-title: 'Raleway', sans-serif;
   --primary-font-title: 'Roboto', sans-serif;
   --primary-backgroung-color: #e5e5e5;
   --secondary-background-color: #f5f4fa;
   --header-footer-background-color: #2f303a;
}
body {
   font-size: 14px;
   font-weight: 400;
   font-style: normal;
   font-family: 'Roboto', sans-serif;
   color: var(--primary-color);
}
.section {
   padding: 94px 0;
}
.container {
   width: 1200px;
   margin: 0 auto;
   border: 1px solid red;
   padding: 0 15px;
}
.header-container,
.page-nav,
.contacts,
.nav-links {
   display: flex;
}
.header-container {
   justify-content: space-between;
}
.logo {
   font-family: var(--secondary-font-title);
   font-weight: bold;
   font-size: 26px;
   line-height: calc(31 / 26);
   letter-spacing: 0.03em;
   color: #2196f3;
   margin-right: 93px;
}
.logo span {
   color: var(--primary-color);
}
.nav-links-item + .nav-links-item {
   margin-left: 50px;
}
.contacts-item:not(:last-child) {
   margin-right: 50px;
}
.nav-links-link,
.contacts-link {
   padding: 32px 0;
   display: block;
   font-weight: 500;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.02em;
   color: var(--primary-color);
}
.contacts-link {
   color: var(--secondary-color);
}
.page-nav {
   align-items: center;
}
.header {
   background-color: var(--white-color);
}

.contacts-link:focus,
.nav-links-link:hover,
.contacts-link:hover,
.nav-links-link:focus {
   color: var(--accent-color);
}
.modal-btn {
   font-family: inherit;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   background-color: var(--accent-color);
   color: var(--white-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   padding: 10px 32px;
}
.filter-button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
   letter-spacing: 0.03em;
   background: var(--secondary-background-color);
   border-radius: 4px;
}
.filter-button:hover {
   color: var(--white-color);
   background-color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero {
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-color);
   background-color: var(--header-footer-background-color);
}
/* .modal-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
} */

/* .page-nav,
.contacts,
.nav-links,
.header-container,
.team,
.items,
.button {
    display: flex;
}

.header-container {
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
}
.logo span {
    color: var(--primary-color);
}

.contacts-link,
.nav-links-link {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    color: var(--primary-color);
}

.contacts-link {
    color: var(--secondary-color);
}

}
button:hover,
button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.nav-links,
.button {
    color: var(--primary-color);
}

.address {
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--white-color);
}
.description {
    text-align: center;
    margin-top: 30px;
}

.team-position {
    margin: 10px 0 30px 0;
    padding: 10px 0 30px 0;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.team-section {
    background-color: #f5f4fa;
}
.list-item-section {
    padding: 30px 0;
    margin-right: 30px;
}
.list-item {
    background-color: var(--white-color);
}
.button {
    cursor: pointer;
}
.footer-section {
    background-color: #2f303a;
    margin-bottom: 20px;
}
.footer-section span {
    color: var(--white-color);
}
.footer-section .logo {
    margin: 0 0 20px 0;
}
.contacts-item-footer {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    margin-top: 9px;
}
.footer .contacts-link {
    padding: 0;
} */
